body{
	background-color:#212121;
	font-size:20px;}
.second_body{
	background-color:#2d2a2e;
	max-width:991px;
	padding:0px 20px 10px 20px;
	margin-left:auto;
	margin-right:auto;}
.fixed-top{
	max-width:991px;
	margin-left:auto;
	margin-right:auto;}
#bigy .fa{
	font-size: 100px;
	padding:10px;}
footer{
	background-color:#272822;
	max-width:991px;
	margin-left:auto;
	margin-right:auto;
	font-size:17px;}
